header {
  width: 100%;
  position: fixed;
  top: 0;
  color: #333333;
  z-index: 2;
  font-size: 18px;
  display: flex;
  justify-content: center;

  .wrap {
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    a {
      padding: 0 10px;
      &.home {
        font-size: 28px;
      }
    }

    nav {
      display: flex;
      align-items: center;
      a {
        &.nav {
          font-size: 18px;
          font-family: "Museo Sans Rounded 700", sans-serif;
        }
      }
    }
  }
}
